.members {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    gap: 10px;
}
.member {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    /* width: 90vw; */
    /* max-width: 300px; */
    border-radius: 25px;
    border: 2px var(--imp-text-color) solid;
    padding: 10px;
}
.member.right {
    flex-direction: row-reverse;
}
@media (max-width: 800px) {
    .member,
    .member.right {
        flex-direction: column;
    }
}
.member-major {
    aspect-ratio: 1;
    padding: 20px;
}
.member-photo-img {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
.member-minor {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 25px;
}
.member-profession {
    color: var(--imp-text-color);
    font-size: 1.5rem;
    font-weight: bold;
}
.member:hover .member-photo-border {
    opacity: 0;
}
.member-name {
    color: var(--imp-text-color);
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 15px;
}
.member-separator {
    width: 100%;
    background-color: var(--imp-text-color);
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.member-detail {
    /* position: relative; */
    width: 100%;
    z-index: 1;
    /* background-color: var(--imp-text-color); */
}
.member-detail-text {
    text-align: justify;
    /* position: absolute;
    width: 100%; */
    /* background-color: var(--imp-text-color); */
    max-width: 700px;
}
.member-skill {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 7px;
}
.member-detail-text.less-width {
}
.member-detail-text.hidden {
    display: none;
}
/* image animation */
.member-photo-cover {
    border-radius: 36% 62% 63% 37%/ 41% 44% 56% 59%;
    overflow: hidden;
}
.member-photo-div {
    position: relative;
    /* width: 400px;
    height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.member-photo-border:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 36% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: all 600ms;
    animation: arroundcircle 4s infinite; 
}
.member-photo-border:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 36% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: all 600ms;
    animation: arroundcircle 6s infinite; 
}
.member-photo-border:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 36% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: all 600ms;
    animation: arroundcircle 10s infinite; 
}
@keyframes arroundcircle {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}